body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}
.app {
display: flex;
flex-direction: row;
}

.quiz{
  background-color: #252d4a;
  width: 80%;
  min-height: 200px;
  height: 80%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
}

.options button{
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.options button:hover {
  background-color: #555e7d;
}

.options button:focus {
  outline: none;
}

.options{
  display: flex;
  flex-direction: column;
}